.pizzaLoaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loader {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}

svg {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.ingredient {
  opacity: 0;
}
