.basket {
  height: 90px;
  width: 90px;
  border-radius: 90px;
  margin-top: -72px;
  margin-left: 1300px;
  position: sticky;

  top: 40px;
  right: 0;

  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px 1px rgba(147, 158, 180, 0.6);
  &:hover {
    background: linear-gradient(137deg, #ff9f47 0%, #fdb806 100%);
    box-shadow: 0 0 30px 1px rgba(255, 219, 71, 0.6);
    img {
      filter: brightness(0) invert(1);
    }
    .basket__count{
        background: #fff;
        border: #fdb806 solid 2px;
        color: #fdb806;
      line-height: 21px;
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__count{
    position: absolute;
    top: 65px;
    left: 65px;
    font-weight: 700;
    font-size: 16px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: linear-gradient(137deg, #ff9f47 0%, #fdb806 100%);
    color: #fff;
    text-align: center;
    line-height: 25px;

  }
}
