.shares {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -30px 0;
    padding: 90px 0;

    &__row {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      &:nth-child(odd) .shares__content__img {
        margin-right: 30px;
      }

      &:nth-child(even) {
        .shares__content__img {
          order: 2;
          margin-left: 30px;
        }

        .shares__content__item {
          order: 1;
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 40px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      > p {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
