/* RegistrationForm.module.css */
.inputContainer {
  position: relative;
  margin-bottom: 20px;
  height: 80px;
}

.myInput {
  width: 380px;
  height: 56px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0.7;
  padding-left: 13px;
  transition: 0.4s;
}
.myInput:focus {
  border: 2px solid #575757;
}
.myInput:focus {
  opacity: 1;
  outline: none;
}

.myInput::placeholder {
  color: transparent;
}

.inputIcon {
  position: absolute;
  right: 160px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: transparent;
}

.myLabel {
  position: absolute;
  left: 160px;
  font-size: 12px;
  color: #8d8d8d;
  top: -15px;
  background-color: white;
  padding: 0 5px;
}

.invalidInput {
  border: 2px solid red;
}

.errorText {
  color: red;
  font-size: 0.75rem;
  /* position: absolute; */
  top: 100%;
  left: 0;
}

/*******************/

.label__div {
  position: relative;
  width: 380px;
  display: block;
  margin: 0 auto;
}

.inputLabel {
  position: absolute;
  left: 16px;
  top: 50%;
  color: #bdbdbd;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  transition: 0.4s;
}

.input__animation:focus + span,
.input__animation:valid + span {
  transform: translateY(-43px);
  transition: 0.4s;
  color: #424242;
  font-size: 14px;
  background: white;
  z-index: 3;
  padding: 0 8px;
}

.input__animation:not(:focus) + span,
.input__animation:not(:valid) + span {
  /* color: #bdbdbd; */

  transition: 0.4s;
}

.myInput:not(:focus) + span {
  color: #bdbdbd;

  /* transition: 0.4s; */
}

.input__animation:focus + .inputIcon svg {
  fill: red;
}
