.about{

}

.about__background{
    background-image: url("./../../source/about us/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 866px;
    position: relative;
    top: -123px;
    z-index: -1;
}
/*.about__space{*/
/*    height: 175px;*/
/*}*/
.about__contacts{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 965px;
    margin: 0 auto;
}
.about__contacts__column{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #b7b6b6;
    background: #fff;
    width: 302px;
    height: 350px;
    position: relative;
    top: 174px;
    padding: 0 30px;
}
.about__contacts__img{

}
.about__contacts__title{
    font-weight: 400;
    font-size: 24px;
    padding: 30px 0;
}
.about__contacts__text{
    font-weight: 300;
    font-size: 14px;
}

.about__content{
    height: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 90px 0;
}
.about__content__row{
    display: flex;
    justify-content: space-between;
}

.about__content__row:nth-child(2) .about__content__img,
.about__content__row:nth-child(4) .about__content__img {
    order: 2;
    margin-left: 30px;
}

.about__content__row:nth-child(2) .about__content__item,
.about__content__row:nth-child(4) .about__content__item {
    order: 1;
}
.about__content__row:nth-child(1) .about__content__img,
.about__content__row:nth-child(3) .about__content__img {
    margin-right: 30px;

}

.about__content__img{
}
.about__content__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__content__title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__content__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.about__content__text > p{
    margin-bottom: 40px;
}
.about__content__text > p:last-child{
    margin-bottom: 0;
}

.about__map{
    background-image: url("./../../source/about us/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
}
.about__map__info{
    border-radius: 12px;
    width: 413px;
    height: 469px;
    /*background: #262626;*/
    /*opacity: 0.7;*/
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 100px;
    left: 260px;
}
.about__map__info > div {
    margin: 12px 0;
}
.about__map__info__logo{
}
.about__map__info__address::before{
    content:url('./../../source/about us/geo.svg');
    position: relative;
    top: 10px;
    left: -10px;
}
.about__map__info__email::before{
    content:url('./../../source/about us/@.svg');
    position: relative;
    top: 10px;
    left: -10px;
}
.about__map__info__phone::before{
    content:url('./../../source/about us/phone.svg');
    position: relative;
    top: 10px;
    left: -10px;
}
.about__map__info__schedule::before{
    content:url('./../../source/about us/clock.svg');
    position: relative;
    top: 10px;
    left: -10px;
}
.about__map__marker{
    position: relative;

}