.ingredient {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.checkboxButton {
  border: 1px solid #000;
  border-radius: 12px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: none;
}

.checkboxButtonFocus {
  border-color: #ff9f47;
}

.name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  flex: 1;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.countContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74px;
  height: 30px;
  margin-right: 30px;
}

.count {
  font-weight: 300;
  font-size: 24px;
  color: #939eb4;
}

.countButton {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  border: 1px solid #939eb4;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate90 {
  transform: rotate(90deg);
  transition: transform 0.3s ease; /* Додайте плавну анімацію */
}
